// Google Fonts
$font-family: "Bitter", serif;
$font-open: "Open Sans", sans-serif;

$default-color: #000;
$default-font-size: 16px;

$primary-color: #2b82bf;
$secondary-color: #fff;

$black: #000;
$white: #fff;

$red: #be1522;
$blue: #005ec9;
$medium-blue: #2b82bf;
$orange: #e57720;
$light-blue: #c1d8f2;
$purple: #8f24a2;
$yellow: #fdcc34;
$green: #06b22b;

$dark-gray: #333333;
$medium-gray: #484a4b;
$light-gray: #7e7e7e;
