#footer {
    border-top: 1px solid $primary-color;
    padding: 20px 0;
    background-color: $primary-color;
    color: $white;



    ul.menu {
        list-style: none;

        li {
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}