* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: $font-family;
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-color;
  line-height: 1.4;
}

.main-title {
  font-size: $large-font-size;
  margin-bottom: 20px;
}

.overflow-hidden {
  overflow: hidden;
}

#close {
  cursor: pointer;
}

#layer {
  background: rgba(255, 255, 255, .7);
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

a {
  color: $primary-color;
}

// pagination
.pagination {
  margin-top: 30px;
  text-align: center;

  .page-numbers {
    text-decoration: none;
    color: $default-color;
    font-size: $default-font-size;
    font-weight: 700;

    &:last-child {
      margin-right: 0;
    }
  }

  .next,
  .prev {
    color: $white;
    background-color: $primary-color;
    padding: 5px;
    border-radius: 3px;
  }

  .current {
    color: $primary-color;
  }

}