form#search-form {
    width: 100%;

    input {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 90%;
    }

    input:focus {
        outline: none;
        border-color: $primary-color;
        box-shadow: 0 0 5px $primary-color;
    }

    input:disabled {
        background-color: #f2f2f2;
        color: #666;
    }

    input::placeholder {
        color: $medium-gray;
    }

    input:valid {
        border-color: #2ecc71;
    }

    input:invalid {
        border-color: #e74c3c;
    }

    /* Apply styles to all buttons */
    button {
        padding: 10px 15px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        background-color: $primary-color;
        color: $white;
    }

    /* Style when the button is hovered */
    button:hover {
        opacity: .9;
    }

    /* Style when the button is focused */
    button:focus {
        outline: none;
        box-shadow: 0 0 5px $primary-color;
    }

    /* Style for disabled buttons */
    button:disabled {
        background-color: #f2f2f2;
        color: #666;
        cursor: not-allowed;
    }
}

#search {
    .title {
        font-size: 30px;
        margin-bottom: 20px;

        span {
            color: $primary-color;
        }
    }

}