#single {

    .categories,
    .tags {
        display: block;
        margin-bottom: 20px;

        p {
            font-weight: 600;
            font-size: $small-font-size;
            color: $primary-color;
            margin-bottom: 10px;
        }

        .content {
            a {
                text-decoration: none;
                font-size: $small-font-size;
                font-weight: 400;
                color: $medium-gray;
                margin-right: 20px;
            }
        }
    }

    .title {
        font-size: $large-font-size;
        margin-bottom: 20px;
    }

    .thumbnail {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
            text-align: center;
            font-size: $small-font-size;
            font-weight: 400;
            color: $medium-gray;
        }

        img,
        picture {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            border-radius: 7px;
        }
    }

    .excerpt {
        margin-bottom: 20px;

        p {
            font-size: 20px;
            line-height: 1.5;
            color: $medium-gray;
        }
    }

    .infos {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .author,
        .date {
            p {
                font-size: $small-font-size;
                font-weight: 400;
                color: $medium-gray;

                a {
                    text-decoration: none;
                    color: $primary-color;
                    font-size: $small-font-size;
                    font-weight: 600;
                }
            }
        }

    }

    article {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 20px;

        // Editor wp config start
        blockquote {
            border-left: 3px solid rgba($color: $primary-color, $alpha: 0.5);
            padding-left: 20px;
        }

        &:not(.ad-single)>iframe {
            width: 100%;
            min-height: 400px !important;
        }

        figcaption {
            display: block;
            font-size: $small-font-size;
            font-weight: 400;
            color: $white;
        }

        .wp-block-video {
            margin-bottom: 30px;
        }

        a {
            color: $primary-color;
            font-weight: 600;
        }

        p {
            margin-bottom: 30px;
        }


        h1 {
            font-size: 1.6rem;
        }

        h2 {
            font-size: 1.4rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        h5 {
            font-size: 1.1rem;
        }

        h6 {
            font-size: 1rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 20px;
        }

        ul,
        ol {
            padding: 0 0 20px 20px;
            margin-left: 20px;

            li {
                // color: $primary-color;
                color: inherit;

                &::marker {
                    // color: $primary-color;
                    color: inherit;
                }
            }
        }

        .wp-caption {
            width: auto !important;
        }

        p.wp-caption-text {
            margin-top: 5px;
            font-size: 12px;
        }

        td,
        th {
            font-family: inherit;
            font-size: inherit;
        }

        img {
            height: auto;
            max-width: 100%;
        }

        .wp-caption {
            margin: 0;
            /* browser reset */
            max-width: 100%;
        }

        /* iOS does not obey max-width if width is set. */
        .ios .wp-caption {
            width: auto !important;
        }

        dl.wp-caption dt.wp-caption-dt img {
            display: inline-block;
            margin-bottom: -1ex;
        }

        div.mceTemp {
            -ms-user-select: element;
        }

        dl.wp-caption,
        dl.wp-caption * {
            -webkit-user-drag: none;
        }

        .wp-caption-dd {
            font-size: $small-font-size;
            padding-top: 0.5em;
            margin: 0;
            /* browser reset */
        }

        .aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .alignleft {
            float: left;
            margin: 0.5em 1em 0.5em 0;
        }

        .alignright {
            float: right;
            margin: 0.5em 0 0.5em 1em;
        }

        .gallery a {
            cursor: default;
        }

        .gallery {
            margin: auto -6px;
            padding: 6px 0;
            line-height: 1;
            overflow-x: hidden;
        }

        .ie7 .gallery,
        .ie8 .gallery {
            margin: auto;
        }

        .gallery .gallery-item {
            float: left;
            margin: 0;
            text-align: center;
            padding: 6px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .ie7 .gallery .gallery-item,
        .ie8 .gallery .gallery-item {
            padding: 6px 0;
        }

        .gallery .gallery-caption,
        .gallery .gallery-icon {
            margin: 0;
        }

        .gallery .gallery-caption {
            font-size: 12px;
            margin: 4px 0;
        }

        .gallery-columns-1 .gallery-item {
            width: 100%;
        }

        .gallery-columns-2 .gallery-item {
            width: 50%;
        }

        .gallery-columns-3 .gallery-item {
            width: 33.333%;
        }

        .ie8 .gallery-columns-3 .gallery-item,
        .ie7 .gallery-columns-3 .gallery-item {
            width: 33%;
        }

        .gallery-columns-4 .gallery-item {
            width: 25%;
        }

        .gallery-columns-5 .gallery-item {
            width: 20%;
        }

        .gallery-columns-6 .gallery-item {
            width: 16.665%;
        }

        .gallery-columns-7 .gallery-item {
            width: 14.285%;
        }

        .gallery-columns-8 .gallery-item {
            width: 12.5%;
        }

        .gallery-columns-9 .gallery-item {
            width: 11.111%;
        }

        .gallery img {
            max-width: 100%;
            height: auto;
            border: none;
            padding: 0;
        }

        /* rtl */
        .rtl .gallery .gallery-item {
            float: right;
        }

        // Editor wp config end
    }
}