// Google Fonts
$font-family: "Roboto", sans-serif;

$default-color: #353535;
$default-font-size: 16px;

$large-font-size: 35px;
$medium-font-size: 25px;
$small-font-size: 14px;

$primary-color: #0b67a8;
$secondary-color: #e0e1dd;

$black: #000;
$white: #fff;

$dark-gray: #353535;
$medium-gray: #6d6d6d;
$light-gray: #e0e0e0;