// Google Fonts
$font-family: "Bitter", serif;
$font-open: "Open Sans", sans-serif;

$default-color: #000;
$default-font-size: 16px;

$primary-color: #2b82bf;
$secondary-color: #fff;

$black: #000;
$white: #fff;

$dark-gray: #333333;
$medium-gray: #484a4b;
$light-gray: #7e7e7e;
